*,
*::before,
*::after {
  box-sizing: border-box;
}

#container {
  width: 400px;
  height: 400px;
  margin: 0;
  display: flex;

  padding: 0;
  flex-wrap: wrap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  gap: 10px;
}
html {
  margin: 0;
  padding: 0;
}
.row {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}
.red {
  background-color: red;
}
.info {
  text-align: center;
}
